*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.ribbon {
    background-color: #262325; 
    color: #0cc3d0; text-shadow: 3px 4px #000000;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    transform: rotate(0deg);
    transform-origin: top right;
}

.container{
    width: 100%;
    height: 100vh;
    background: #abdfee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #293c56;
    padding: 25px;
    border-radius: 10px;

}

.calculator form input{
    border: 2;
    outline: 0;
    width: 60px;
    height: 65px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    background-color: #245360;
    border-radius: 10px;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 50px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.operator{
    color: #ff0000;
    font-size: xx-large;
}